*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#video{
    z-index: 1;
}
body{
    
}
header{
    width: 100%;
    background-color: white;
}
.container {
    position: relative;
    max-width: 1240px;
    height:100vh;
    padding: 0 15px;
    
    margin: 0 auto;
}
.nav {
    display: flex;
    /* background-image: url('../image/1613680397_23-p-fon-dlya-prezentatsii-programmirovanie-28.jpg'); */
    height: 120px;
    padding: 20px 0;
    
}
.logo {
    padding-left: 30px;
    
    
}
.logo__img:hover{
    box-shadow: -3px -5px 5px 2px rgba(8, 174, 200, 0.5)
}
.logo__img {
    border-radius: 50%;
}
.tab__parent {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tab__parent a{
    
    text-decoration: none;
}
.tab {
    text-transform: uppercase;
    font-size: large;
    font-weight: 900;
    color: rgb(130, 182, 255);
    list-style-type: none;
    cursor: pointer;
}
.tab:hover{
    border-bottom: 1px solid green;
    color: forestgreen;
    
}
.active{
    border-bottom: 1px solid green;
    color: forestgreen;
    
}
.conten
.content__wraper {
    display: flex;
}
.content {
    width: 100%;
    height:100vh;
}
.content p{
    display: block;
}
.text{
    width: 100%;
}
.content img{
    height: 50px;
    display: block;
    border-radius: 5%;
}
.hidden{
    display: none;
}
.menu{
    width: 19px;
    padding-right: 15px;
    margin-top: 32px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aqua;
    cursor: pointer;
}
.menu:hover{
    box-shadow: -3px -5px 5px 2px rgba(7, 167, 39, 0.5)
}
.menu span{
    color: aqua;
    width: 19px;
    border: 1px solid rgb(36, 179, 215);
}
.side__menu{
    overflow: hidden;
    box-shadow:20px 5px 11px 2px rgba(3, 120, 27, 0.5);
    transition: 0.5s all;
    z-index: 2;
    transition: 0.9s ease-in;
    display: none;
    position: absolute;
    content:"";
    top: 0;
    left: 15px;
    width: 200px;
    height: 100%;
    background-color:rgb(60, 231, 60, 0.7) 
}
.side__menu .show{
    overflow: hidden;
}
.show{
    display: block;
    transition: 1.5s all;
    overflow:hidden;

}
.close{
    align-items: center;
    
}
.close img{
    height: 30px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
}
.about{
    position: absolute;
    height: 40px;
    content:'' ;
    top: 40%;
    left: 30%;
    transform: x(-50%);
    color: aqua;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 800;
}
.content_row{
    display: flex;
    height: 100vh;
    justify-content: center;
}
.content_item {
    position: relative;
    padding-top: 8%;
    text-align: center;
    width: 33%;

}
.content_item img{
    height: 130px;
    display: block;
    margin: 0 auto;
}
.prev{
    height: 100%;
    padding-top: 14%;
}
.prev img{

}
.next{
    height: 100%;
    padding-top: 14%;
    border-radius: 50%;
}
.next img{
    transform: rotate(180deg);
}
.prev img:hover{
    
    margin-top: 5px;
    box-shadow:5px 1px 1px 1px rgba(3, 120, 27, 0.5);
    border-radius: 50%;
   
}
.next img:hover{
    margin-top: 5px;
    border-radius: 50%;
    box-shadow:5px 1px 1px 1px rgba(3, 120, 27, 0.5);
    
}
.forms{
    display: grid;
    height: 100px;
    margin-top: 20px; ;


}
.form__wraper{
    padding: 29px 9px;
}
form button{
    background-color: yellowgreen;
    
    border: 0px ;
    
    
}
form button:hover{
    background-color:aqua
}
@media (max-width:800px){
    .tab{
        font-size: medium;
        text-transform: lowercase;
    }
    .about{
        font-size: x-large;
    }
}
@media (max-width:600px){
    .tab{
        font-size: small;
        text-transform: lowercase;
    }
    .about{
        font-size: large;
    }
    .prev img,.next img {
        height: 30px;
}
.content p{
    font-size: small;
}
}
@media (max-width:460px){
    .logo__img{
        display: none;
    }
    .tab {
        font-size: x-small;
    }
    .about {
        font-size: small;
    }
}
@media (max-width:320px){
    .content_item img {
        height: 100px;
}
.content_item{
    font-size: small;
}
}
.content p{
    text-align: center;
}